<table *ngIf="content">
  <thead><tr>
    <th
      *ngFor="let col of content.columns"
      (click)="sortOn(col.dispName)">
      <span>{{col.dispName}}</span>
      <span *ngIf="sortColumn === col.dispName"
        class="fa"
        [class.fa-chevron-up]="isSortedAsc"
        [class.fa-chevron-down]="!isSortedAsc">
      </span>
    </th>
  </tr></thead>
  <tbody><tr *ngFor="let row of content.rows">
    <td *ngFor="let col of content.columns"
      fse-cell
      [row]="row"
      [col]="col"
      (edited)=resetSort()>
  </tr></tbody>
</table>
