<div id="fset-tool-bar" class="row" *ngIf="content">

  <search-bar
    [focus]="searchFocusSubject"
    (search)="applySearch($event)"
    (clear)="removeSearch()"></search-bar>

  <div class="col-md-4">
    <div class="btn-group">
      <a id="fset-btn-add" class="btn btn-default">
        <i class="fa fa-plus"></i>
      </a>
      <a id="fset-btn-remove" class="btn btn-default">
        <i class="fa fa-minus"></i>
      </a>
    </div>
    <col-selector [columns]="content.allColumns"></col-selector>
  </div>

</div>

<fse-table *ngIf="content"
  [rows]="content.rows"
  [cols]="content.columns"
  (search)="focusSearch()"
  (sort)="sortContent($event)">
</fse-table>
