<div>
  <div id="fset-tool-bar" class="row">
    <div class="col-8 col-sm-8 col-md-4">
      <search-bar
      [focus]="searchFocusSubject"
      (search)="applySearch($event)"
      (clear)="removeSearch()"></search-bar>
    </div>
    <div class="col-md-4">
      <div class="btn-group">
        <button id="fset-btn-add" type="button" class="btn btn-default"
          tooltip="Batch Row Add"
          (click)="showRowAdder()">
          <i class="fa fa-plus"></i>
        </button>
        <div class="tooltip-wrapper" tooltip="Remove Row [Alt+d]">
          <button id="fset-btn-remove" type="button" class="btn btn-default"
            accesskey="D"
            (click)="removeRow()"
            [disabled]="isRemoveRowDisabled()">
            <i class="fa fa-minus"></i>
          </button>
        </div>
      </div>
      <col-selector [columns]="table.cols"></col-selector>
    </div>
    <div class="container" style="position:fixed;">
      <div class="btn-group pull-right">
        <undo-action style="padding-right:10px;"
          [actions]="actions"
          (recentAction)="undoAction($event)">
        </undo-action>
        <row-adder
          [table]="table"
          [factory]="config.factory"
          (row_adder_active)="isRowAdderActive($event)"
          (addCreatedRow)="addRow($event)">
        </row-adder>
      </div>
    </div>
  </div>
  <batch-row-adder
    [factory]="config.factory"
    [columns]="table.cols"
    [show]="showRowAdderSubject"
    (addRows)="addRows($event)">
  </batch-row-adder>


  <fse-table
    [table]="table"
    [firstRowAdded]="activeRowAdder"
    (selection)="selectRow($event)"
    (search)="focusSearch()"
    (sort)="sortContent($event)"
    (cellChange)="editRow($event)">
  </fse-table>

</div>
