<div class="col-md-3"><div class="input-group">

  <input #searchInput id="fset-input-search" class="form-control"
    placeholder="Search" type="text"
    [(ngModel)]="searchTerm"
    (keyup.enter)="searchRequest()">

  <div class="input-group-btn">
    <a id="fset-btn-search" class="btn btn-default"
      (click)="searchClear()">
      <i class="fa fa-remove"></i>
    </a>
    <a id="fset-btn-clear" class="btn btn-default"
      (click)="searchRequest()">
      <i class="fa fa-search"></i>
    </a>
  </div>

</div></div>
