<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">Batch add rows</h4>
    </div>

    <div class="modal-body">
      <button type="button" class="btn btn-secondary" (click)="newRow()">
        <i class="fa fa-plus"></i>
        <span>New</span>
      </button>
      <button type="button" class="btn btn-secondary" (click)="removeRow()"
        [disabled]="table.rowLen===1">
        <i class="fa fa-minus"></i>
        <span>Remove</span>
      </button>
      <button type="button" class="btn btn-secondary" (click)="clearRows()">
        <i class="fa fa-remove"></i>
        <span>Clear</span>
      </button>
      <fse-table
        [table]="table"
        [validationRequestSubject]="validationRequest"
        (selection)="selectRow($event)"
        (cellChange)="rowValueChange($event)">
      </fse-table>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="addAll()">
        <span>Add</span>
      </button>
      <button type="button" class="btn btn-secondary" (click)="c('Close click')">
        <span>Cancel</span>
      </button>
    </div>
</ng-template>
