<table #navInput id="fset" class="table table-bordered" tabindex="-1"
  *ngIf="cols"
  (keydown)=navInputHandler($event)
  (blur)="exitFocus()">
  <!--
  tabindex attr makes the table focus-able, and therefore generate
  key-press events.
  -->

  <thead><tr>
    <template ngFor let-col [ngForOf]="cols" let-i="index"><th
      *ngIf="showHiddenCols || col.show"
      id="{{'fset-col-' + i}}"
      (click)="sortOn(col, i)">
      <span>{{col.dispName}}</span>
      <span
        class="fa"
        [class.fa-chevron-up]="isSortedAsc()"
        [class.fa-chevron-down]="!isSortedAsc()"
        [style.visibility]="sortCol === col ? 'inherit' : 'hidden'">
      </span>
    </th></template>
  </tr></thead>

  <tbody>
    <template ngFor let-row [ngForOf]="rows" let-i="index" [ngForTrackBy]="trackByRow">
    <tr *ngIf="row.show"
      id="{{'fset-row-' + i}}"
      [class.selected]="i===selRow">
      <template ngFor let-col [ngForOf]="cols" let-j="index">
      <td *ngIf="showHiddenCols || col.show"
        id="{{'fset-cell-' + i + '-' + j}}">
        <fse-cell
          [cell]="row.cells[j]"
          [row]="i"
          [col]="j"
          [selection]="selectionSubject"
          [editRequestSubject]="editRequestSubject"
          (click)="onClick(i, j)"
          (dblclick)="triggerEdit()"
          (valueChange)="rowValueChange($event)"
          (editExit)="navInputFocus()">
        </fse-cell>
      </td></template>
    </tr></template>
  <tr *ngIf="height === 0 || width === 0"><td [colSpan]="width">
    <div id="fset-empty-text">Nothing here!</div>
  </td></tr></tbody>

</table>
