@import '../shared/colors';

#fsec-wrapper {
  &:hover {
    box-shadow: inset 0 0 0 0.1em $hover;
  }
  &.selected {
    box-shadow: inset 0 0 0 0.1em $select;
  }
}

div > div {
  padding: 0.5em;
  &[contenteditable] {
    background-color: $editing;
  }
  /deep/ div, /deep/ br {
    display: none;
  }
  &.novalue {
    color: $hover;
    font-style: italic;
  }
}
