<table #navInput id="fset" class="table table-bordered" tabindex="-1"
  *ngIf="table"
  (keydown)=navInputHandler($event)>
  <!--
  tabindex attr makes the table focus-able, and therefore generate
  key-press events.
  -->

  <thead><tr>
    <ng-template ngFor let-col [ngForOf]="table.cols" let-i="index">
      <th *ngIf="showHiddenCols || col.show"
        id="{{'fset-col-' + i}}"
        (click)="sortOn(col, i)">
        <span>{{col.dispName}}</span>
        <span
          class="fa"
          [class.fa-chevron-up]="isSortedAsc()"
          [class.fa-chevron-down]="!isSortedAsc()"
          [style.visibility]="sortCol === col ? 'inherit' : 'hidden'">
        </span>
      </th>
    </ng-template>
  </tr></thead>

  <tbody>
    <template ngFor let-row [ngForOf]="table.rows" let-i="index">
    <tr *ngIf="row.show"
      id="{{'fset-row-' + i}}"
      [class.selected]="i===selRow">
      <template ngFor let-cell [ngForOf]="row.cells" let-j="index">
      <td *ngIf="showHiddenCols || cell.col.show"
        id="{{'fset-cell-' + i + '-' + j}}">
        <div id="fsec-wrapper" [class.selected]="isCellIndexSelected(i, j)">
        <fse-cell
          [cell]="cell"
          [row]="i"
          [col]="j"
          [editRequestSubject]="editRequestSubject"
          [validationRequestSubject]="validationRequestSubject"
          (click)="onClick(i, j)"
          (dblclick)="triggerEdit()"
          (valueChange)="cellValueChange($event)"
          (editExit)="navInputFocus()">
        </fse-cell></div>
      </td></template>
    </tr></template>
  <tr *ngIf="height === 0 || width === 0"><td [colSpan]="width">
    <div id="fset-empty-text">Nothing here!</div>
  </td></tr></tbody>

</table>
